<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gbversiongb.gb">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">
        <activity
            android:name="com.gbversiongb.gb.activities.SplashActivity"
            android:theme="@style/AppFullSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gbversiongb.gb.activities.StatusActivity"
            android:theme="@style/AppFullScreen" />
        <activity
            android:name="com.gbversiongb.gb.activities.MyStatusActivity"
            android:theme="@style/AppFullScreen" />
        <activity
            android:name="com.gbversiongb.gb.activities.PreviewActivity"
            android:theme="@style/AppFullScreen" />
        <activity
            android:name="com.gbversiongb.gb.activities.ChatDirect"
            android:theme="@style/AppFullScreen" />

        <activity
            android:name="com.gbversiongb.gb.activities.WhatsAppWeb"
            android:theme="@style/AppFullScreen" />

        <activity
            android:name="com.gbversiongb.gb.activities.VideoPlayerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.gbversiongb.gb.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4187292153162583~1834683666" />

    </application>

</manifest>